/**/

/*Open      */@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*Nunito    */@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Lora      */@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Comfortaa */@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora:ital@0;1&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Yellowtail*/@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


/*NEON*/
/*	<text-shadow> requires 4 values, the first two of which represent the horizontal and vertical
*	position of the shadow, respectively. The third value represents the size of the blur radius while the last value represents 
*	the color of the shadow. To increase the size of the glow effect,
*	we would increase the third value, which represents the blur radius
*/


@keyframes pulsate {
	100% {
	   text-shadow: 
	/*	H 	V	BLUR-size SHADOW-color*/
		0 	0	10px 	rgb(131, 130, 130),
		0 	0	21px 	rgb(133, 133, 133),
		0 	0	30px 	rgb(160, 160, 160),
		0 	0	56px 	#0fa,
		0 	0	89px 	#0fa,
		0 	0	110px 	#0fa;
	/*	0 	0	102px 	#0fa,	cuantos más valores de radio agrego (cada vez mayores) mayor es la iluminación
		0 	0	151px 	#0fa;*/
	}
	0% {
	   text-shadow: 
		0 	0	3px 	rgb(131, 130, 130),
		0 	0	5px 	rgb(133, 133, 133),
		0 	0	10px 	rgb(160, 160, 160),
		0 	0	20px 	#0fa,
		0 	0	41px 	#0fa,
		0 	0	92px 	#0fa;	
	/*	0 	0	102px 	#0fa,
		0 	0	151px 	#0fa;*/
	}
}

body {
	color: #ffffff;
	background-image: linear-gradient(#141818, #141818); 	/*DEGRADÉ*/
}


/*Navbar*/
nav {
	color: aliceblue;
	background-color: #0083C0;
	border:#fff;
} 

	/*Hipervínculos dentro del navbar*/
	.navbar-dark .navbar-nav .nav-link {
		color: rgb(255 255 255);
	}

.bgimg{
	width: 0%;
}

.helloworld {
	color: rgb(226, 247, 242);
	animation: pulsate 1.2s infinite alternate;
	
}

footer {
	color: #0fa;
}