
/*Open      */@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*Nunito    */@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Lora      */@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Comfortaa */@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora:ital@0;1&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Yellowtail*/@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


html {
	background-image: linear-gradient(#e6e9e9, #b2c4e2);
}


body {	/*HTML es padre del body y x ende de todo elemento incluido*/
	color: #1e1f1f;
	background-image: linear-gradient(#ffffff, #ccecf7);
}

/*Navbar*/
nav {
	color: aliceblue;
	background-color: #0083C0;
	border:#fff;
} 

/*Hipervínculos dentro del navbar*/
.navbar-dark .navbar-nav .nav-link {
	color: rgb(255 255 255);
}





.bgimg{
	width: 50%;
}

.container_img{ 
	position: relative;
	text-align: center;
}

#helloworld {
	color: rgb(235, 134, 10);
}

footer {
	color: rgb(0, 116, 77);
	font-family: 'Comfortaa';
}