/*HTML es padre del body y x ende de todo elemento incluido*/
html {	
	font-family: 'Comfortaa';
	height: 100%;
	box-sizing: border-box;
}

body{
	font-family: 'Comfortaa', bold;
}

.helloworld {
	font-family: 'Yellowtail', cursive;
	font-size: 80px;
	text-align: center;
}

.sites {
	padding-left: 40px;
}

.icon {
	height: 40px;
	border-radius: 8px;
	background: transparent;
	background-color: transparent;
	background-image: none;
}

footer {
	padding-bottom: 0%;
}