/*HTML es padre del body y x ende de todo elemento incluido*/
html {	
	font-family: 'Comfortaa';
	width: 100vw;
	height: 100vw;
}

body{
	position: relative;
	box-sizing: border-box;
	font-family: 'Comfortaa', bold;
	box-sizing: border-box;
	height: inherit;
	border-left: 0px solid;
	border-right: 0px solid;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#main {
	box-sizing: border-box;
	align-items: center;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 0px;
}

#helloworld {
	box-sizing: border-box;
	font-family: 'Yellowtail', cursive;
	font-size: 80px;
	position: static;
	text-align: center;
	padding: 80px;
}

.main_text{
	margin: 20px;
}

.button_text {
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.sites {
	padding-left: 40px;
}

.icon {
	padding: 5px;
	height: 40px;
	border-radius: 8px;
	background: transparent;
	background-color: transparent;
	background-image: none;
}


footer {
	position: fixed; /*absolute para que quede abajo y no fijo en la ventana*/
	box-sizing: border-box;
	width: 100%;
	bottom: 10px;
	padding: 0px;
	font-size: 10px;
	height: 30px;
}

.footer_ad {
	display: inline-block;
	padding: 10px;
}

#dev_ad {
	text-align: left;
}

#copyright {
	float: center;
	text-align: right;
	padding-left: 30px;
}
