
/*Open      */@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*Nunito    */@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Lora      */@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Comfortaa */@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora:ital@0;1&family=Nunito:wght@200&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
/*Yellowtail*/@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');



html {	/*HTML es padre del body y x ende de todo elemento incluido*/
	color: #1e1f1f;
	margin-right: 100px;
	background-image: linear-gradient(#faf5f5, #d3d3d3);
}
/*
body{

}*/

#header {
	color: aliceblue;
	background-color: #0083C0;
	border:#fff;
} 

#main {
	/*color: darkslategrey;*/
	padding: 50px;
}

.text_1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

@keyframes pulsate {
	100% {
	   text-shadow: 
	/*	H 	V	BLUR-size SHADOW-color*/
		0 	0	8px 	rgb(255, 179, 236),
		0 	0	15px 	rgb(255, 141, 221),
		0 	0	25px 	rgb(255, 141, 221),
		0 	0	49px 	rgb(255, 0, 242),
		0 	0	86px 	rgb(255, 0, 242),
		0 	0	94px 	rgb(255, 0, 242);
	}
	0% {
	   text-shadow: 
		0 	0	3px 	rgb(131, 130, 130),
		0 	0	5px 	rgb(151, 99, 140),
		0 	0	10px 	rgb(153, 107, 146),
		0 	0	20px 	rgb(255, 0, 242),
		0 	0	41px 	rgb(255, 0, 242),
		0 	0	92px 	rgb(255, 0, 242);	
	}
}

.helloworld {
	color: rgb(158, 87, 134);
	font-family: 'Yellowtail', cursive;
	font-size: 40px;
	text-align: center;
	text-align: center;
	animation: pulsate 1.2s infinite alternate;
}

footer {
	color: rgb(0, 116, 77);
	font-family: 'Comfortaa';
	padding: 30px;
	bottom: 100%;
}